<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
<div id="box">
    <ul>
        <!--<li v-for="value in arr | limitBy 3">-->
        <li v-for="value in arr | limitBy 3 2">
            {{value}}
        </li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
    var vm = new Vue({
        data: {
            arr:[1,2,3,4,5,6,7]
        },
        methods:{
            add:function () {
                alert(101)
            }
        }
    }).$mount("#box") /*手动挂载*/
</script>
</body>
</html>